*{
    box-sizing: border-box;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{
    background-image: url(../images/login_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
}